.video-stream-container {
    display: flex;
    height: 100vh; /* Assurez-vous que le conteneur occupe toute la hauteur de la fenêtre */
  }
  
  .video-container, .translation-container {
    flex: 1; /* Chaque section prend la même largeur */
    display: flex; /* Utilisation de flex pour centrer le contenu */
    justify-content: center; /* Centrer le contenu horizontalement */
    align-items: center; /* Centrer le contenu verticalement */
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .video {
    width: 100%; /* Prendre toute la largeur du conteneur */
    height: auto; /* Maintenir le ratio de la vidéo */
    max-height: 100%; /* Assurez-vous que la vidéo ne dépasse pas la hauteur du conteneur */
  }
  
  .translation-container {
    flex-direction: column; /* Alignement vertical du texte */
    padding: 15px;
  }
  
  .translation-text {
    font-size: 1.2em;
    color: #333;
    margin: 0;
    text-align: center; /* Centrer le texte dans la section de traduction */
  }
  